body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:426px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:480px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:220px;
    top:14px;
    width:180px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:810px;
    top:18px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_original {
    background-image: url('../Header_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:885px;
    top:18px;
    width:15px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:885px;
    top:18px;
    width:15px;
    height:16px
}

.u6_original {
    background-image: url('../Header_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px
}

.u8 {
    position:absolute;
    left:10px;
    top:16px;
    width:220px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../Header_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px;
}

.u9 {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px
}

.u11 {
    position:absolute;
    left:10px;
    top:70px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../Mi_cuenta_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px;
}

.u12 {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px
}

.u13 {
    position:absolute;
    left:10px;
    top:125px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:80px;
    top:120px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:10px;
    top:160px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:80px;
    top:155px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:10px;
    top:300px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../Mi_cuenta_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:10px;
    top:238px;
    width:32px;
    height:32px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:238px;
    width:32px;
    height:32px
}

.u20_original {
    background-image: url('../Mi_cuenta_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:50px;
    top:238px;
    width:32px;
    height:32px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:50px;
    top:238px;
    width:32px;
    height:32px
}

.u22_original {
    background-image: url('../Mi_cuenta_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:90px;
    top:238px;
    width:32px;
    height:32px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:90px;
    top:238px;
    width:32px;
    height:32px
}

.u24 {
    position:absolute;
    left:10px;
    top:210px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:0px;
    width:212px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:200px;
    top:330px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:16px;
    top:0px;
    width:212px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:90px;
    top:365px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:16px;
    top:0px;
    width:212px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:230px;
    top:400px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:120px;
    top:400px;
    width:100px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_hover {
    background-image: url('../Mi_cuenta_files/u35_hover.png');
}

.u35_disabled {
    background-image: url('../Mi_cuenta_files/u35_disabled.png');
}

.u35_original {
    background-image: url('../Mi_cuenta_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:10px;
    top:520px;
    width:160px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:156px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:10px;
    top:520px;
    width:160px;
    height:25px
}

.u37_hover {
    background-image: url('../Mi_cuenta_files/u37_hover.png');
}

.u37_disabled {
    background-image: url('../Mi_cuenta_files/u37_disabled.png');
}

.u37_original {
    background-image: url('../Mi_cuenta_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:10px;
    top:445px;
    width:180px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:176px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:10px;
    top:445px;
    width:180px;
    height:25px
}

.u39_line {
    background-image: url('../Mi_cuenta_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:10px;
    top:504px;
    width:890px;
    height:3px;
}

.u39 {
    position:absolute;
    left:10px;
    top:504px;
    width:890px;
    height:3px
}

