body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Parlamentarios_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:210px;
    width:110px;
    height:110px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u1 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:210px;
    width:110px;
    height:110px
}

.u2_original {
    background-image: url('../Header_files/u0_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:10px;
    width:890px;
    height:70px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:76px;
}

.u3 {
    position:absolute;
    left:2px;
    top:27px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:10px;
    width:890px;
    height:70px
}

.u4_original {
    background-image: url('../Header_files/u2_original.png');
}

.u4_container {
    position:absolute;
    left:10px;
    top:10px;
    width:140px;
    height:70px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:76px;
}

.u5 {
    position:absolute;
    left:2px;
    top:28px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:10px;
    top:10px;
    width:140px;
    height:70px
}

.u6 {
    position:absolute;
    left:208px;
    top:34px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:300px;
    top:35px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:10px;
    top:98px;
    width:220px;
    height:31px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../Parlamentarios_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:20px;
    top:220px;
    width:90px;
    height:90px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u11 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:20px;
    top:220px;
    width:90px;
    height:90px
}

.u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:630px;
    top:100px;
    width:160px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#333333;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_hover {
    background-image: url('../Parlamentarios_files/u15_hover.png');
}

.u15_disabled {
    background-image: url('../Parlamentarios_files/u15_disabled.png');
}

.u15_original {
    background-image: url('../Parlamentarios_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:800px;
    top:100px;
    width:100px;
    height:22px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:28px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:800px;
    top:100px;
    width:100px;
    height:22px
}

.u17_line {
    background-image: url('../Parlamentarios_files/u17_line.png');
}

.u17_line {
    position:absolute;
    left:10px;
    top:144px;
    width:890px;
    height:3px;
}

.u17 {
    position:absolute;
    left:10px;
    top:144px;
    width:890px;
    height:3px
}

.u18 {
    position:absolute;
    left:10px;
    top:160px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:90px;
    top:158px;
    width:140px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:721px;
    top:160px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:766px;
    top:157px;
    width:30px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:803px;
    top:160px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../Parlamentarios_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:855px;
    top:157px;
    width:20px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:855px;
    top:157px;
    width:20px;
    height:20px
}

.u25_original {
    background-image: url('../Parlamentarios_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:880px;
    top:157px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:880px;
    top:157px;
    width:20px;
    height:20px
}

.u27_line {
    background-image: url('../Parlamentarios_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:10px;
    top:194px;
    width:890px;
    height:3px;
}

.u27 {
    position:absolute;
    left:10px;
    top:194px;
    width:890px;
    height:3px
}

.u28 {
    position:absolute;
    left:130px;
    top:212px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:130px;
    top:240px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:130px;
    top:260px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:130px;
    top:280px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_original {
    background-image: url('../Parlamentarios_files/u0_original.png');
}

.u32_container {
    position:absolute;
    left:10px;
    top:340px;
    width:110px;
    height:110px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u33 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:10px;
    top:340px;
    width:110px;
    height:110px
}

.u34_original {
    background-image: url('../Parlamentarios_files/u10_original.png');
}

.u34_container {
    position:absolute;
    left:20px;
    top:350px;
    width:90px;
    height:90px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u35 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:20px;
    top:350px;
    width:90px;
    height:90px
}

.u36 {
    position:absolute;
    left:130px;
    top:342px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:130px;
    top:370px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:130px;
    top:390px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:130px;
    top:410px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_original {
    background-image: url('../Parlamentarios_files/u0_original.png');
}

.u40_container {
    position:absolute;
    left:10px;
    top:470px;
    width:110px;
    height:110px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u41 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:10px;
    top:470px;
    width:110px;
    height:110px
}

.u42_original {
    background-image: url('../Parlamentarios_files/u10_original.png');
}

.u42_container {
    position:absolute;
    left:20px;
    top:480px;
    width:90px;
    height:90px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u43 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:20px;
    top:480px;
    width:90px;
    height:90px
}

.u44 {
    position:absolute;
    left:130px;
    top:472px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:130px;
    top:500px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:130px;
    top:520px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:130px;
    top:540px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_original {
    background-image: url('../Parlamentarios_files/u0_original.png');
}

.u48_container {
    position:absolute;
    left:450px;
    top:210px;
    width:110px;
    height:110px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u49 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:450px;
    top:210px;
    width:110px;
    height:110px
}

.u50_original {
    background-image: url('../Parlamentarios_files/u10_original.png');
}

.u50_container {
    position:absolute;
    left:460px;
    top:220px;
    width:90px;
    height:90px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u51 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:460px;
    top:220px;
    width:90px;
    height:90px
}

.u52 {
    position:absolute;
    left:570px;
    top:212px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:570px;
    top:240px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:570px;
    top:260px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:570px;
    top:280px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_original {
    background-image: url('../Parlamentarios_files/u0_original.png');
}

.u56_container {
    position:absolute;
    left:450px;
    top:340px;
    width:110px;
    height:110px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u57 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:450px;
    top:340px;
    width:110px;
    height:110px
}

.u58_original {
    background-image: url('../Parlamentarios_files/u10_original.png');
}

.u58_container {
    position:absolute;
    left:460px;
    top:350px;
    width:90px;
    height:90px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u59 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:460px;
    top:350px;
    width:90px;
    height:90px
}

.u60 {
    position:absolute;
    left:570px;
    top:342px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:570px;
    top:370px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:570px;
    top:390px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:570px;
    top:410px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_original {
    background-image: url('../Parlamentarios_files/u0_original.png');
}

.u64_container {
    position:absolute;
    left:450px;
    top:470px;
    width:110px;
    height:110px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u65 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:450px;
    top:470px;
    width:110px;
    height:110px
}

.u66_original {
    background-image: url('../Parlamentarios_files/u10_original.png');
}

.u66_container {
    position:absolute;
    left:460px;
    top:480px;
    width:90px;
    height:90px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u67 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:460px;
    top:480px;
    width:90px;
    height:90px
}

.u68 {
    position:absolute;
    left:570px;
    top:472px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:570px;
    top:500px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:570px;
    top:520px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:570px;
    top:540px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

