@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css';
@import 'fonts.css';

/* Basic Styles */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.8em;
  color: rgba(0, 0, 0 ,.5);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: rgba(0, 0, 0, .65);
  text-decoration: none;
  -webkit-transition: color 0.25s linear;
}
a:hover {
  color: rgba(0, 0, 0, .9);
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
}
.photo {
  background: transparent url(../images/rebagliatte.jpg) no-repeat;
  background-size: cover;
}
.content h1 {
  margin-top: 0;
  color: #E82F5E;
}
.hidden {
  display: none;
}

/* Social Networks */
.networks li {
  display: inline-block;
}
.networks li a {
  padding: 1em 1em 0 0;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5em;

}
.icon {
  -webkit-transition: color 0.25s linear;
}
.icon-email:hover {
  color: #cf4a39;
}
.icon-facebook:hover {
  color: #3b5998;
}
.icon-github:hover {
  color: #333;
}
.icon-linkedin:hover {
  color: #117eb9;
}
.icon-stackoverflow:hover {
  color: #f48024;
}
.icon-twitter:hover {
  color: #1da1f2;
}

/* Media Queries */
@media (max-width: 1200px) {
  .photo {
    padding-bottom: 67%;
    box-shadow: inset 0 -130px 200px -50px rgba(0,0,0,.5);
  }
  .logo,
  .content {
    padding: 2em;
  }
  .content {
    text-align: center;
  }
  p {
    margin: 2em auto;
  }
  .networks {
    margin-top: 2em;
  }
  .networks li a {
    padding: .5em;
  }
}
@media (min-width: 600px) {
  .logo,
  .content {
    padding: 6em;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.1em;
  }
  html,
  body,
  .wrapper {
    height: 100%;
  }
  .photo {
    width: 60%;
    background-position: 46% 34%;
  }
  .content {
    width: 40%;
    background-color: #fff;
    border-bottom: 5px solid #E82F5E;
  }

  /* No flexbox */
  .no-flexbox body {
    background: transparent url(../images/rebagliatte.jpg) left top no-repeat;
  }
  .no-flexbox .content {
    background: rgba(255, 255, 255, .7);
    margin: 2em auto 0 auto;
  }

  /* Flexbox usage */
  .flexbox .wrapper,
  .flexbox .content {
    display: flex;
  }
  .flexbox .content {
    justify-content: center;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
