body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:426px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:480px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:220px;
    top:14px;
    width:180px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:810px;
    top:18px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_original {
    background-image: url('../Header_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:885px;
    top:18px;
    width:15px;
    height:16px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:885px;
    top:18px;
    width:15px;
    height:16px
}

.u6_original {
    background-image: url('../Header_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u7 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px
}

.u8 {
    position:absolute;
    left:10px;
    top:16px;
    width:220px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../Header_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px;
}

.u9 {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px
}

.u11_original {
    background-image: url('../Home_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:10px;
    top:80px;
    width:290px;
    height:190px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:196px;
}

.u12 {
    position:absolute;
    left:2px;
    top:87px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:10px;
    top:80px;
    width:290px;
    height:190px
}

.u13_original {
    background-image: url('../Home_files/u11_original.png');
}

.u13_container {
    position:absolute;
    left:310px;
    top:80px;
    width:290px;
    height:190px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:196px;
}

.u14 {
    position:absolute;
    left:2px;
    top:87px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:310px;
    top:80px;
    width:290px;
    height:190px
}

.u15_original {
    background-image: url('../Home_files/u11_original.png');
}

.u15_container {
    position:absolute;
    left:610px;
    top:80px;
    width:290px;
    height:190px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:196px;
}

.u16 {
    position:absolute;
    left:2px;
    top:87px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:610px;
    top:80px;
    width:290px;
    height:190px
}

.u17 {
    position:absolute;
    left:20px;
    top:128px;
    width:260px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:10px;
    top:300px;
    width:220px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:20px;
    top:90px;
    width:270px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:320px;
    top:90px;
    width:270px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:620px;
    top:90px;
    width:270px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:320px;
    top:128px;
    width:260px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:620px;
    top:128px;
    width:270px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:10px;
    top:340px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:100px;
    top:340px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:160px;
    top:340px;
    width:260px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

